<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/bower/bootstrap/dist/css/bootstrap.min.css" >
    <script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <p><%= title %> Debugger</p>
    <div class="input-group">
      <span class="input-group-btn">
        <button id="check" class="btn btn-default" type="button">Go!</button>
      </span>
      <form id="form">
        <input name="word" type="text" class="form-control">
      </form>
    </div>
    <script>
    (function() {

      $( '#check' ).on( 'click', function() {
        var word = $( "#form [name=word]" ).val();

        $.ajax({
          type: 'POST',
          url: '/sendSay',
          data: { word: word }
        }).done(function( data ) {

          console.log( data );

        }).fail(function() {

          console.log( 'error' );
        });
      });

    })();
    </script>
    <script type="text/javascript" src="/bower/bootstrap/dist/js/bootstrap.min.js">
  </body>
</html>