<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p id="test">Welcome to <%= title %></p>
    <script>
    (function() {
      $('#test').on('click', function() {
        $.ajax({
          type: 'POST',
          url: '/sendSay',
          data: { word: '全部' }
        }).done(function(data) {
          $('#test').text(data);
        });
      });

    })();
    </script>
  </body>
</html>